@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .naviLink {
    @apply text-sm font-semibold transition-all p-2
    hover:text-customGreenDarker;
  }
  .sectionContainer {
    @apply w-full h-screen flex flex-col scroll-smooth;
  }
  .iconAnchor {
    @apply border-2 shadow-lg flex items-center justify-center p-3 text-black text-xs rounded-full transition-all mx-5 
    border-transparent hover:border-customGreenDarker hover:shadow-none;
  }
  .naviLinkActive {
    @apply border-customGreenDarker border-b-2 transition-all;
  }
}

@font-face {
  font-family: "Butler", serif;
  font-style: bold;
  font-weight: 900;
  src: url("@/assets/fonts/Butler_Black.otf");
}
