@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .naviLink {
    @apply text-sm font-semibold transition-all p-2
    hover:text-customBeigeDarker;
  }
  .sectionContainer {
    @apply w-full h-screen flex flex-col scroll-smooth;
  }
  .iconAnchor {
    @apply border-2 shadow-lg flex items-center justify-center p-3 text-black text-xs rounded-full transition-all mx-5 
    border-transparent hover:border-customGreenDarker hover:shadow-none;
  }
  .naviLinkActive {
    @apply border-customGreenDark border-b-2 transition-all;
  }
  .sideNaviContainer {
    @apply transition-all duration-500 w-4/6 fixed z-50 h-screen;
  }
  .sideNavi {
    @apply relative flex flex-col py-6 px-6 w-full h-full bg-white overflow-y-auto transition-all duration-500;
  }
  .sideNaviText {
    @apply block p-4 text-sm font-semibold hover:bg-customBeigeDarker hover:text-white rounded-full;
  }
}

@font-face {
  font-family: "Butler", serif;
  font-style: bold;
  font-weight: 900;
  src: url("@/assets/fonts/Butler_Black.otf");
}
